<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ZIM Tables Test Project">

    <parameter name="OS" value="Windows"/>
    <parameter name="browser" value="Chrome"/>

    <test verbose="10" name="src/test/java/tests">
        <classes>
            <class name="tests.TablesSanityTest"/>
        </classes>
    </test>
</suite>
